
.textContent > * {
    flex: 1 1 100%;
}

.textContent {
    display: flex;
    flex-flow: row wrap;
    padding: 22px 20px 13px;
}

@media all and (min-width: 1540px) {

    .textContent {
        flex-basis: 672px;
    }
    
}