.card {
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.card > * {
    flex: 1 1 100%;
}

.desktopList {
    display: none;
}

img {
    width: 200px;
}


@media all and (min-width: 1024px) {
    .card {
        flex-flow: row nowrap;
    }

    .mobileList {
        display: none;
    }
    .desktopList {
        display: block;
    }

    img {
        width: 200px;
    }

}

@media all and (min-width: 1540px) {
    .card {
        padding: 0 60px;
    }

    .card:hover, .card:focus-within {
        outline: 1px solid var(--grey09);
    }

    .card:hover h2 a, .card:focus-within h2 a {
        color: var(--orange);
    }
}