.container {
    width: 100%;
    background-color: #fff;
    /* width: 100%; */
    flex: 1 1 0%;
    border-radius: 0px 0px 3px 3px;
}

.listContainer {
    position: absolute;
    right: 20px;
    top: 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: var(--white);
    width: 140px;
    /* position: absolute;
    width: 140px;
    top: 55px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 20px;
    box-sizing: border-box;
    z-index: 900;
    background-color: #fff; */
}

.list {
    width: 100%;
    /* height: 37px;
    border-bottom: 1px solid #ECECEC;
    padding: 12px 20px;
    box-sizing: border-box; */
}

