.metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
}

.userLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    padding: 0 6px 0 0;
}

.avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
}

.username {
    color: var(--orange);
}



.createdAt,
.createdAt * {
    color: var(--grey99);
}

.publishedLabel {
    display: none;
}


@media all and (min-width: 1540px) {
    
    .userLink:hover a {
        text-decoration: underline;
    }

    .username {
        position: relative;
        z-index: 1;
    }
}