
@media all and (min-width: 1024px) {
    .listItemDesctop {
        /* padding: 10px 14px 11px 20px; */
        border-bottom: 1px solid #ECECEC;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1000;
        /* box-sizing: border-box; */
    }

    .listTextItems {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .menuItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        color: var(--grey99);
        border-bottom: 1px solid #ECECEC;
        padding: 12px 0;
        box-sizing: border-box;
    }

    .menuItem:last-child {
        border-bottom: none;
    }

    .textButton {
        margin: 0;
        padding: 0;
        float: right;
        margin-left: 6px;
        color: var(--grey99);
    }

    .closeButton {
        padding: 12px 23px;
        border-radius: 0 0 3px 3px;
        width: 100%;
        background: var(--greyD9);
        color: var(--grey66);
    }

}



