@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #333333;
    --white: #ffffff;
    --orange: #CC6633;
    --green: #A4CC33;
    --greyF3: #f3f3f3;
    --greyD9: #d9d9d9;
    --greyC4: #c4c4c4;
    --grey99: #999999;
    --grey66: #666666;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--greyF3);
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', serif;
}

* {
    color: #333333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}